doctype html
html
  head
    title Create an order
    link(rel='stylesheet', type='text/css', href='./style.css')
  body
    header
      ul
        li
          a(href='https://yvesiraguha.github.io/send_it_challenge/UI/signup.html') Sign Up
        li
          a(href='https://yvesiraguha.github.io/send_it_challenge/UI/signin.html') Sign In
        li
          a(href='#order') Create Order
        li
          a(href='https://yvesiraguha.github.io/send_it_challenge/UI/delivery_order_for_user.html') User
        li
          a(href='https://yvesiraguha.github.io/send_it_challenge/UI/delivery_orders_for_admin.html') Admin
    #homePage
      article
        h1 SendIT
        p
          strong SendIt
          |  is a service for you to send a parcel from one destination 
          br
          |           to another with just cost calculated based on the weight of what you want to 
          br
          |           transfer. The cost per unit is 100RWf.
        p This is the opportunity for you to send parcels with us.
        p
          a(href=' https://yvesiraguha.github.io/send_it_challenge/UI/signup.html') Sign up
          |  to send with us or 
          a(href=' https://yvesiraguha.github.io/send_it_challenge/UI/signin.html') Sign in
          |  if you already have an account.
      #order
        form(action='/api/v1/', method='POST')
          table
            caption
              b Create an order
            tbody
              tr
                td
                  | From
                td
                  select.origin(name='origin')
                    option(value='Afghanistan') Afghanistan
                    option(value='Albania') Albania
                    option(value='Algeria') Algeria
                    option(value='Andorra') Andorra
                    option(value='A ngola') Angola
                    option(value='Antigua and Barbuda') Antigua and Barbuda
                    option(value='Argentina') Argentina
                    option(value='Armenia') Armenia
                    option(value='Australia') Australia
                    option(value='Austria') Austria
                    option(value='Azerbaijan') Azerbaijan
                    option(value='The Bahamas') The Bahamas
                    option(value='Bahrain') Bahrain
                    option(value='Bangladesh') Bangladesh
                    option(value='Barbados') Barbados
                    option(value='Belarus') Belarus
                    option(value='Belgium') Belgium
                    option(value='Belize') Belize
                    option(value='Benin') Benin
                    option(value='Bhutan') Bhutan
                    option(value='Bolivia') Bolivia
                    option(value='Bosnia and Herzegovina') Bosnia and Herzegovina
                    option(value='Botswana') Botswana
                    option(value='Brazil') Brazil
                    option(value='Brunei') Brunei
                    option(value='Bulgaria') Bulgaria
                    option(value='Burkina Faso') Burkina Faso
                    option(value='Burundi') Burundi
                    option(value='Cabo Verde') Cabo Verde
                    option(value='Cambodia') Cambodia
                    option(value='Cameroon') Cameroon
                    option(value='Canada') Canada
                    option(value='Central African Republic') Central African Republic
                    option(value='Chad') Chad
                    option(value='Chile') Chile
                    option(value='China') China
                    option(value='Colombia') Colombia
                    option(value='Comoros') Comoros
                    option(value='Congo, Democratic Republic of the Congo') Congo, Democratic Republic of the Congo
                    option(value='Congo, Republic of the') Congo, Republic of the
                    option(value='Costa Rica') Costa Rica
                    option(value='Côte d’Ivoire') Côte d’Ivoire
                    option(value='Croatia') Croatia
                    option(value='Cuba') Cuba
                    option(value='Cyprus') Cyprus
                    option(value='Czech Republic') Czech Republic
                    option(value='Denmark') Denmark
                    option(value='Djibouti') Djibouti
                    option(value='Dominica') Dominica
                    option(value='Dominican Republic') Dominican Republic
                    option(value='East Timor') East Timor
                    option(value='Ecuador') Ecuador
                    option(value='Egypt') Egypt
                    option(value='El Salvador') El Salvador
                    option(value='Equatorial Guinea') Equatorial Guinea
                    option(value='Eritrea') Eritrea
                    option(value='Estonia') Estonia
                    option(value='Ethiopia') Ethiopia
                    option(value='Fiji') Fiji
                    option(value='Finland') Finland
                    option(value='France') France
                    option(value='Gabon') Gabon
                    option(value='The Gambia') The Gambia
                    option(value='Georgia') Georgia
                    option(value='Germany') Germany
                    option(value='Ghana') Ghana
                    option(value='Greece') Greece
                    option(value='Grenada') Grenada
                    option(value='Guatemala') Guatemala
                    option(value='Guinea') Guinea
                    option(value='Guinea-Bissau') Guinea-Bissau
                    option(value='Guyana') Guyana
                    option(value='Haiti') Haiti
                    option(value='Honduras') Honduras
                    option(value='Hungary') Hungary
                    option(value='Iceland') Iceland
                    option(value='India') India
                    option(value='Indonesia') Indonesia
                    option(value='Iran') Iran
                    option(value='Iraq') Iraq
                    option(value='Ireland') Ireland
                    option(value='Israel') Israel
                    option(value='Italy') Italy
                    option(value='Jamaica') Jamaica
                    option(value='Japan') Japan
                    option(value='Jordan') Jordan
                    option(value='Kazakhstan') Kazakhstan
                    option(value='Kenya') Kenya
                    option(value='Kiribati') Kiribati
                    option(value='Korea, North') Korea, North
                    option(value='Korea, South') Korea, South
                    option(value='Kosovo') Kosovo
                    option(value='Kuwait') Kuwait
                    option(value='Kyrgyzstan') Kyrgyzstan
                    option(value='Laos') Laos
                    option(value='Latvia') Latvia
                    option(value='Lebanon') Lebanon
                    option(value='Lesotho') Lesotho
                    option(value='Liberia') Liberia
                    option(value='Libya') Libya
                    option(value='Liechtenstein') Liechtenstein
                    option(value='Lithuania') Lithuania
                    option(value='Luxembourg') Luxembourg
                    option(value='Macedonia') Macedonia
                    option(value='Madagascar') Madagascar
                    option(value='Malawi') Malawi
                    option(value='Malaysia') Malaysia
                    option(value='Maldives') Maldives
                    option(value='Mali') Mali
                    option(value='Malta') Malta
                    option(value='Marshall Islands') Marshall Islands
                    option(value='Mauritania') Mauritania
                    option(value='Mauritius') Mauritius
                    option(value='Mexico') Mexico
                    option(value='Micronesia, Federated States of Pacific Ocean') Micronesia, Federated States of Pacific Ocean
                    option(value='Moldova') Moldova
                    option(value='Monaco') Monaco
                    option(value='Mongolia') Mongolia
                    option(value='Montenegro') Montenegro
                    option(value='Morocco') Morocco
                    option(value='Mozambique') Mozambique
                    option(value='Myanmar (Burma)') Myanmar (Burma)
                    option(value='Namibia') Namibia
                    option(value='Nauru') Nauru
                    option(value='Nepal') Nepal
                    option(value='Netherlands') Netherlands
                    option(value='New Zealand') New Zealand
                    option(value='Nicaragua') Nicaragua
                    option(value='Niger') Niger
                    option(value='Nigeria') Nigeria
                    option(value='Norway') Norway
                    option(value='Oman') Oman
                    option(value='Pakistan') Pakistan
                    option(value='Palau') Palau
                    option(value='Panama') Panama
                    option(value='Papua New Guinea') Papua New Guinea
                    option(value='Paraguay') Paraguay
                    option(value='Peru') Peru
                    option(value='Philippines') Philippines
                    option(value='Poland') Poland
                    option(value='Portugal') Portugal
                    option(value='Qatar') Qatar
                    option(value='Romania') Romania
                    option(value='Russia') Russia
                    option(value='Rwanda') Rwanda
                    option(value='Saint Kitts and Nevis') Saint Kitts and Nevis
                    option(value='Saint Vincent and the Grenadines') Saint Vincent and the Grenadines
                    option(value='Samoa') Samoa
                    option(value='San MarinoSan Marino') San Marino
                    option(value='Sao Tome and Principe') Sao Tome and Principe
                    option(value='Saudi Arabia') Saudi Arabia
                    option(value='Senegal') Senegal
                    option(value='Serbia') Serbia
                    option(value='Seychelles') Seychelles
                    option(value='Sierra Leone') Sierra Leone
                    option(value='Singapore') Singapore
                    option(value='Slovakia') Slovakia
                    option(value='Slovenia') Slovenia
                    option(value='Solomon Islands') Solomon Islands
                    option(value='Somalia') Somalia
                    option(value='South Africa') South Africa
                    option(value='Spain') Spain
                    option(value='Sri Lanka') Sri Lanka
                    option(value='Sudan') Sudan
                    option(value='Sudan, South') Sudan, South
                    option(value='Suriname') Suriname
                    option(value='Swaziland') Swaziland
                    option(value='Sweden') Sweden
                    option(value='Switzerland') Switzerland
                    option(value='Syria') Syria
                    option(value='Taiwan') Taiwan
                    option(value='Tajikistan') Tajikistan
                    option(value='Tanzania') Tanzania
                    option(value='Thailand') Thailand
                    option(value='Togo') Togo
                    option(value='Tonga') Tonga
                    option(value='Trinidad and Tobago') Trinidad and Tobago
                    option(value='Tunisia') Tunisia
                    option(value='Turkey') Turkey
                    option(value='Turkmenistan') Turkmenistan
                    option(value='Tuvalu') Tuvalu
                    option(value='Uganda') Uganda
                    option(value='Ukraine') Ukraine
                    option(value='United Arab Emirates') United Arab Emirates
                    option(value='United Kingdom') United Kingdom
                    option(value='United States') United States
                    option(value='Uruguay') Uruguay
                    option(value='Uzbekistan') Uzbekistan
                    option(value='Vanuatu') Vanuatu
                    option(value='Vatican City') Vatican City
                    option(value='Venezuela') Venezuela
                    option(value='Vietnam') Vietnam
                    option(value='Yemen') Yemen
                    option(value='Zambia') Zambia
                    option(value='Zimbabwe') Zimbabwe
              tr
                td
                  | To
                td
                  select.destination(name='destination')
                    option(value='Afghanistan') Afghanistan
                    option(value='Albania') Albania
                    option(value='Algeria') Algeria
                    option(value='Andorra') Andorra
                    option(value='A ngola') Angola
                    option(value='Antigua and Barbuda') Antigua and Barbuda
                    option(value='Argentina') Argentina
                    option(value='Armenia') Armenia
                    option(value='Australia') Australia
                    option(value='Austria') Austria
                    option(value='Azerbaijan') Azerbaijan
                    option(value='The Bahamas') The Bahamas
                    option(value='Bahrain') Bahrain
                    option(value='Bangladesh') Bangladesh
                    option(value='Barbados') Barbados
                    option(value='Belarus') Belarus
                    option(value='Belgium') Belgium
                    option(value='Belize') Belize
                    option(value='Benin') Benin
                    option(value='Bhutan') Bhutan
                    option(value='Bolivia') Bolivia
                    option(value='Bosnia and Herzegovina') Bosnia and Herzegovina
                    option(value='Botswana') Botswana
                    option(value='Brazil') Brazil
                    option(value='Brunei') Brunei
                    option(value='Bulgaria') Bulgaria
                    option(value='Burkina Faso') Burkina Faso
                    option(value='Burundi') Burundi
                    option(value='Cabo Verde') Cabo Verde
                    option(value='Cambodia') Cambodia
                    option(value='Cameroon') Cameroon
                    option(value='Canada') Canada
                    option(value='Central African Republic') Central African Republic
                    option(value='Chad') Chad
                    option(value='Chile') Chile
                    option(value='China') China
                    option(value='Colombia') Colombia
                    option(value='Comoros') Comoros
                    option(value='Congo, Democratic Republic of the Congo') Congo, Democratic Republic of the Congo
                    option(value='Congo, Republic of the') Congo, Republic of the
                    option(value='Costa Rica') Costa Rica
                    option(value='Côte d’Ivoire') Côte d’Ivoire
                    option(value='Croatia') Croatia
                    option(value='Cuba') Cuba
                    option(value='Cyprus') Cyprus
                    option(value='Czech Republic') Czech Republic
                    option(value='Denmark') Denmark
                    option(value='Djibouti') Djibouti
                    option(value='Dominica') Dominica
                    option(value='Dominican Republic') Dominican Republic
                    option(value='East Timor') East Timor
                    option(value='Ecuador') Ecuador
                    option(value='Egypt') Egypt
                    option(value='El Salvador') El Salvador
                    option(value='Equatorial Guinea') Equatorial Guinea
                    option(value='Eritrea') Eritrea
                    option(value='Estonia') Estonia
                    option(value='Ethiopia') Ethiopia
                    option(value='Fiji') Fiji
                    option(value='Finland') Finland
                    option(value='France') France
                    option(value='Gabon') Gabon
                    option(value='The Gambia') The Gambia
                    option(value='Georgia') Georgia
                    option(value='Germany') Germany
                    option(value='Ghana') Ghana
                    option(value='Greece') Greece
                    option(value='Grenada') Grenada
                    option(value='Guatemala') Guatemala
                    option(value='Guinea') Guinea
                    option(value='Guinea-Bissau') Guinea-Bissau
                    option(value='Guyana') Guyana
                    option(value='Haiti') Haiti
                    option(value='Honduras') Honduras
                    option(value='Hungary') Hungary
                    option(value='Iceland') Iceland
                    option(value='India') India
                    option(value='Indonesia') Indonesia
                    option(value='Iran') Iran
                    option(value='Iraq') Iraq
                    option(value='Ireland') Ireland
                    option(value='Israel') Israel
                    option(value='Italy') Italy
                    option(value='Jamaica') Jamaica
                    option(value='Japan') Japan
                    option(value='Jordan') Jordan
                    option(value='Kazakhstan') Kazakhstan
                    option(value='Kenya') Kenya
                    option(value='Kiribati') Kiribati
                    option(value='Korea, North') Korea, North
                    option(value='Korea, South') Korea, South
                    option(value='Kosovo') Kosovo
                    option(value='Kuwait') Kuwait
                    option(value='Kyrgyzstan') Kyrgyzstan
                    option(value='Laos') Laos
                    option(value='Latvia') Latvia
                    option(value='Lebanon') Lebanon
                    option(value='Lesotho') Lesotho
                    option(value='Liberia') Liberia
                    option(value='Libya') Libya
                    option(value='Liechtenstein') Liechtenstein
                    option(value='Lithuania') Lithuania
                    option(value='Luxembourg') Luxembourg
                    option(value='Macedonia') Macedonia
                    option(value='Madagascar') Madagascar
                    option(value='Malawi') Malawi
                    option(value='Malaysia') Malaysia
                    option(value='Maldives') Maldives
                    option(value='Mali') Mali
                    option(value='Malta') Malta
                    option(value='Marshall Islands') Marshall Islands
                    option(value='Mauritania') Mauritania
                    option(value='Mauritius') Mauritius
                    option(value='Mexico') Mexico
                    option(value='Micronesia, Federated States of Pacific Ocean') Micronesia, Federated States of Pacific Ocean
                    option(value='Moldova') Moldova
                    option(value='Monaco') Monaco
                    option(value='Mongolia') Mongolia
                    option(value='Montenegro') Montenegro
                    option(value='Morocco') Morocco
                    option(value='Mozambique') Mozambique
                    option(value='Myanmar (Burma)') Myanmar (Burma)
                    option(value='Namibia') Namibia
                    option(value='Nauru') Nauru
                    option(value='Nepal') Nepal
                    option(value='Netherlands') Netherlands
                    option(value='New Zealand') New Zealand
                    option(value='Nicaragua') Nicaragua
                    option(value='Niger') Niger
                    option(value='Nigeria') Nigeria
                    option(value='Norway') Norway
                    option(value='Oman') Oman
                    option(value='Pakistan') Pakistan
                    option(value='Palau') Palau
                    option(value='Panama') Panama
                    option(value='Papua New Guinea') Papua New Guinea
                    option(value='Paraguay') Paraguay
                    option(value='Peru') Peru
                    option(value='Philippines') Philippines
                    option(value='Poland') Poland
                    option(value='Portugal') Portugal
                    option(value='Qatar') Qatar
                    option(value='Romania') Romania
                    option(value='Russia') Russia
                    option(value='Rwanda') Rwanda
                    option(value='Saint Kitts and Nevis') Saint Kitts and Nevis
                    option(value='Saint Vincent and the Grenadines') Saint Vincent and the Grenadines
                    option(value='Samoa') Samoa
                    option(value='San MarinoSan Marino') San Marino
                    option(value='Sao Tome and Principe') Sao Tome and Principe
                    option(value='Saudi Arabia') Saudi Arabia
                    option(value='Senegal') Senegal
                    option(value='Serbia') Serbia
                    option(value='Seychelles') Seychelles
                    option(value='Sierra Leone') Sierra Leone
                    option(value='Singapore') Singapore
                    option(value='Slovakia') Slovakia
                    option(value='Slovenia') Slovenia
                    option(value='Solomon Islands') Solomon Islands
                    option(value='Somalia') Somalia
                    option(value='South Africa') South Africa
                    option(value='Spain') Spain
                    option(value='Sri Lanka') Sri Lanka
                    option(value='Sudan') Sudan
                    option(value='Sudan, South') Sudan, South
                    option(value='Suriname') Suriname
                    option(value='Swaziland') Swaziland
                    option(value='Sweden') Sweden
                    option(value='Switzerland') Switzerland
                    option(value='Syria') Syria
                    option(value='Taiwan') Taiwan
                    option(value='Tajikistan') Tajikistan
                    option(value='Tanzania') Tanzania
                    option(value='Thailand') Thailand
                    option(value='Togo') Togo
                    option(value='Tonga') Tonga
                    option(value='Trinidad and Tobago') Trinidad and Tobago
                    option(value='Tunisia') Tunisia
                    option(value='Turkey') Turkey
                    option(value='Turkmenistan') Turkmenistan
                    option(value='Tuvalu') Tuvalu
                    option(value='Uganda') Uganda
                    option(value='Ukraine') Ukraine
                    option(value='United Arab Emirates') United Arab Emirates
                    option(value='United Kingdom') United Kingdom
                    option(value='United States') United States
                    option(value='Uruguay') Uruguay
                    option(value='Uzbekistan') Uzbekistan
                    option(value='Vanuatu') Vanuatu
                    option(value='Vatican City') Vatican City
                    option(value='Venezuela') Venezuela
                    option(value='Vietnam') Vietnam
                    option(value='Yemen') Yemen
                    option(value='Zambia') Zambia
                    option(value='Zimbabwe') Zimbabwe
              tr
                td
                  | Weight (kgs)
                td
                  input.weight(type='text', placeholder='kgs', name='weight')
          input(type='submit', value='Confirm')   
  