doctype html
html
  head
    title Error occurred
    link(rel='stylesheet', href='/style.css')
  body
    header
      ul
        li
          a(href='/api/v1/users/signup') Sign Up
        li
          a(href='/api/v1/users/signin') Sign In
        li
          a(href='/api/v1/') Home
        li
          a(href='/api/v1/parcels') Admin
        li          
          a(href='/api/v1/signout') Sign out
    #errors
      p=message 
    footer
      p
        em
          a(href='/api/v1/') SEND IT
