.container {            
    position: relative;
    width: 1160px;
    height:600px;
    background:#ff7979;
    }

.item-parcel {
    position: absolute;
    width: 600px;
    height:600px;
    left: 560px;
    top: 0px;
    background: #FFFFFF;
    }

.heading1 {
    position: absolute;
    width: 485px;
    height: 47px;
    left: 160px;
    top: 21px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 36px;
    color: #000000;
    }

.heading-text {
    position: absolute;
    width: 550px;
    height: 63px;
    left: 160px;
    top: 100px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 24px;

    color: #000000;
}

.labels {
    position: absolute;
    width: 140px;
    height: 40px;
    left: 160px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 24px;
    color: #000000;
    }

#name {
    top: 219px;
}
#origin {
    top: 282px;
}
#destination {
    top: 341px;
}

#weight {
    top: 400px;
}

#price {
    top: 452px;
}

.input {
    position: absolute;
    width: 250px;
    height: 40px;
    left: 305px;
    font-size:24px;
    border-radius:10px;
    }
.input-name {
    top: 221px;
}

.input-origin {
    top: 277px;
}

.input-destination {
    top: 342px;
}
.input-weight {
    top: 397px;

}
.input-price {
    top: 455px;
}
#add {
    position: absolute;
    width: 150px;
    height: 40px;
    left:160px;
    top: 550px;
    border-radius:10px;
    font-size:24px;
    }